In [4]:
import pandas as pd
import numpy as np
import math
from scipy import stats
import statsmodels.api as sm  
from statsmodels.formula.api import ols
from matplotlib import pyplot as plt

In [14]:
data = pd.read_csv("D:/Sayli_etc/NEPTEL_DataAnalysisPython/Week_5/oneway.xlsx")
data

   Black Board   Case Presentation    PPT
0             4                    2     2
1             3                    4     1
2             2                    6     3

In [15]:
print(data.columns)

Index(['Black Board ', 'Case Presentation  ', 'PPT '], dtype='object')

In [16]:
newdata = pd.melt(data.reset_index(), id_vars=['index'], value_vars=['Black Board ', 'Case Presentation  ', 'PPT '])
newdata.columns = ['index','treatments','value']

In [17]:
newdata

   index           treatments  value
0      0         Black Board       4
1      1         Black Board       3
2      2         Black Board       2
3      0  Case Presentation        2
4      1  Case Presentation        4
5      2  Case Presentation        6
6      0                 PPT       2
7      1                 PPT       1
8      2                 PPT       3

In [20]:
model = ols('value ~ C(treatments)', data = newdata).fit()

In [21]:
table = sm.stats.anova_lm(model, type = 1)

In [22]:
table

                df  sum_sq  mean_sq    F    PR(>F)
C(treatments)  2.0     6.0      3.0  1.5  0.296296
Residual       6.0    12.0      2.0  NaN       NaN