In [10]:
import pandas as pd
import numpy as np
import scipy
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [11]:
df = pd.read_excel('D:/Sayli_etc/NEPTEL_DataAnalysisPython/Week_6/RBD.xlsx')
print(df)

   System A  System B  System C
0        15        15        18
1        14        14        14
2        10        11        15
3        13        12        17
4        16        13        16
5        13        13        13

In [12]:
print(df.columns)

Index(['System A', 'System B', 'System C'], dtype='object')

In [21]:
data = pd.melt(df.reset_index(), id_vars=['index'], value_vars=['System A', 'System B', 'System C'])
data.columns = ['blocks','treatments','value']

In [23]:
model = ols('value ~ C(blocks) + C(treatments)', data=data).fit()
table = sm.stats.anova_lm(model,type=1)
print(table)

                 df  sum_sq  mean_sq         F    PR(>F)
C(blocks)       5.0    30.0      6.0  3.157895  0.057399
C(treatments)   2.0    21.0     10.5  5.526316  0.024181
Residual       10.0    19.0      1.9       NaN       NaN

In [24]:
df2 = pd.read_excel('D:/Sayli_etc/NEPTEL_DataAnalysisPython/Week_6/RBD2.xlsx')
print(df2)

   chem1  chem2  chem3  chem4
0    1.3    2.2    1.8    3.9
1    1.6    2.4    1.7    4.4
2    0.5    0.4    0.6    2.0
3    1.2    2.0    1.5    4.1
4    1.1    1.8    1.3    3.4

In [26]:
print(df2.columns)

Index(['chem1', 'chem2', 'chem3', 'chem4'], dtype='object')

In [33]:
data2 = pd.melt(df2.reset_index(), id_vars=['index'], value_vars=['chem1', 'chem2', 'chem3', 'chem4'])
data2.columns = ['fabric_samples','chemical_types','values']
data2

    fabric_samples chemical_types  values
0                0          chem1     1.3
1                1          chem1     1.6
2                2          chem1     0.5
3                3          chem1     1.2
4                4          chem1     1.1
5                0          chem2     2.2
6                1          chem2     2.4
7                2          chem2     0.4
8                3          chem2     2.0
9                4          chem2     1.8
10               0          chem3     1.8
11               1          chem3     1.7
12               2          chem3     0.6
13               3          chem3     1.5
14               4          chem3     1.3
15               0          chem4     3.9
16               1          chem4     4.4
17               2          chem4     2.0
18               3          chem4     4.1
19               4          chem4     3.4

In [35]:
model2 = ols('values ~ C(fabric_samples) + C(chemical_types)', data=data2).fit()
table2 = sm.stats.anova_lm(model2,type=1)
print(table2)

                     df  sum_sq   mean_sq          F        PR(>F)
C(fabric_samples)   4.0   6.693  1.673250  21.113565  2.318913e-05
C(chemical_types)   3.0  18.044  6.014667  75.894848  4.518310e-08
Residual           12.0   0.951  0.079250        NaN           NaN